.profile-photo {
    width: 140px;
    float: right;
    border-radius: 50%;
    margin: 0 0 0 20px;
}

.footer-icons {
    font-size: 16px;
}

.publication-list li:not(:last-child) {
    margin-bottom: 10px;
}

.publication-list li {
    line-height: 1.3;
}

pre.highlight {
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: .25em;
}

.blog-timestamp {
    font-size: 20px;
    color: #606060;
}
