footer {
	text-align: right;
}

footer a,
footer a:hover,
footer a:active {
	color: #333;
}

.list-inline > li + li:before {
	content: "|";
	padding: 0 10px 0 0;
	color: #ccc;
}

.resume-list {
	margin-top: 15px;
	margin-bottom: 15px;
}

.resume-list-left {
	text-align: right;
}

.resume-list-right {
	border-left: 1px solid #aaa;
}
