<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic' rel='stylesheet' type='text/css'>
		<title>{{ page.title }} | Simon Larsen</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<nav>
					<div id="top-menu">
						<a name="top"></a>
						<ul>
							<li> <a href="https://www.facebook.com/simonjlarsen">Facebook</a> </li>
							<li> <a href="http://youtube.com/user/SimonLarsen">YouTube</a> </li>
							<li> <a href="https://twitter.com/SimonLarsen">twitter</a> </li>
						<ul>
					</div>
				</nav>
				<h1>Simon Larsen<h1>
				<h3>Computer science student, musician and hobbyist gamedev<h3>
			</div>
			<hr>
			<div id="content">
				{{ content }}
			</div>
			<hr>
			<center>
				<a href="#top">Back to top</a>
			</center>
		</div>
	</body>
</html>
